.box-item {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.box-item-balls {
  background-image: url('/images/box-item-bg-balls.png');
}

.box-item-cards {
  background-image: url('/images/box-item-bg-cards.png');
}

.box-item-coin {
  background-image: url('/images/box-item-bg-coin.png');
}

.box-item-ghost {
  background-image: url('/images/box-item-bg-ghost.png');
}

.box-item-witch {
  background-image: url('/images/box-item-bg-witch.png');
}

.box-item-dragon {
  background-image: url('/images/box-item-bg-dragon.png');
}

.box-item-demon {
  background-image: url('/images/box-item-bg-demon.png');
}
