@import 'tailwindcss';

@theme {
  --color-primary-bg: rgb(240, 240, 240);
  --color-primary-color: rgb(128, 96, 8);
  --color-primary-link: rgb(77, 195, 255);
  --color-secondary-bg: rgb(255, 195, 77);
  --color-secondary-color: rgb(36, 37, 41);
  --color-tertiary-bg: rgb(152, 163, 181);
  --color-tertiary-color: rgb(36, 37, 41);
  --color-physical-color: rgb(255, 107, 107);
  --color-intellectual-color: rgb(69, 183, 209);
  --color-emotional-color: rgb(78, 205, 196);

  --font-family-primary: 'Montserrat', sans-serif;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('/images/background.webp');
  background-repeat: no-repeat;
  background-position: 50% 100px;
  padding: 0;
  margin: 0;
}

body:before {
  content: ' ';
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol,
ul,
ol > li,
ul > li {
  padding: revert;
  margin: unset;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

.circle-shape {
  shape-outside: border-box;
  margin: 1rem;
  padding: 0px 10px;
}

@media screen and (max-width: 820px) {
  body {
    background-image: url('/images/background-mobile.webp');
  }
}
